<mat-card-header>
  <div class="example-button-row">
    <button mat-raised-button
            color="primary"
            (click)="openDialog('add')">New
    </button>
    <button mat-raised-button
            color="primary"
            [disabled]="_isDisabledEdit"
            (click)="openDialog('edit')">Edit
    </button>
    <button mat-raised-button
            color="primary"
            [disabled]="_isDisabledDelete"
            (click)="deleteRates()">Delete
    </button>
  </div>
</mat-card-header>

<mat-card-content>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                    [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </mat-header-cell>>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? toggle(row) : null"
                    [checked]="selection.isSelected(row)"
                    [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </mat-cell>>
  </ng-container>

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <mat-header-cell *matHeaderCellDef mat-sort-header> No.</mat-header-cell>
    <!--    <td mat-cell *matCellDef="let element"> {{element.position}} </td>-->
    <mat-cell *matCellDef="let element">{{element.position}}</mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <!--    <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
    <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
    <!--    <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
    <mat-cell *matCellDef="let element">{{element.price}}</mat-cell>
  </ng-container>

  <!-- Exp. Date Column -->
  <ng-container matColumnDef="expirationDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Expiration Date </mat-header-cell>
    <!--    <td mat-cell *matCellDef="let element"> {{element.name}} </td>-->
    <mat-cell *matCellDef="let element">{{element.expirationDate | date: 'yyyy-MM-dd'}}</mat-cell>
  </ng-container>

  <!--  Edit Column-->
  <!--  <ng-container matColumnDef="edit">-->
  <!--    <mat-header-cell *matHeaderCellDef> Edit </mat-header-cell>-->
  <!--    <mat-cell *matCellDef="let trainer">-->
  <!--      <button mat-raised-button color="primary" (click)='editElement()'> Edit-->
  <!--      </button>-->
  <!--    </mat-cell>-->
  <!--  </ng-container>-->

  <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</mat-card-content>
