<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Traffics Service</span>
        <span class="example-spacer"></span>
        <button mat-icon-button color="#fff" aria-label="Home">
            <mat-icon>home</mat-icon>
        </button>
<!--        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>-->
    </mat-toolbar-row>
</mat-toolbar>

<!--    <mat-toolbar-row>-->
<!--&lt;!&ndash;    <span>Second Line</span>&ndash;&gt;-->

<!--    </mat-toolbar-row>-->

