<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

    <mat-form-field>
        <input *ngIf="data.action=='edit'"
               matInput
               placeholder="Rate Name"
               formControlName="rateName">
        <mat-label *ngIf="data.action=='add'">Choose an rate</mat-label>
        <mat-select *ngIf="data.action=='add'"
                    formControlName="rateName">
            <mat-option *ngFor="let item of _rates; let i = index"
              value="{{i}}">{{item.rateName}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <input *ngIf="data.action=='edit'"
               matInput
               placeholder="Service Name"
               formControlName="serviceName">
        <mat-label *ngIf="data.action=='add'">Choose an service</mat-label>
        <mat-select *ngIf="data.action=='add'"
                    formControlName="serviceName">
          <mat-option *ngFor="let item of _services; let i = index"
                      value="{{i}}">{{item.serviceName}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput
             placeholder="Traffic (MB)"
             formControlName="traffic">
    </mat-form-field>

    <p class="error-message" *ngIf="_showError">Data is not added!</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf="data.action === 'add'"
            mat-raised-button
            color="primary"
            (click)="save()">Create
    </button>
    <button *ngIf="data.action === 'edit'"
            mat-raised-button
            color="primary"
            (click)="update()">Update
    </button>
    <button mat-raised-button color="accent" (click)="close()">Cancel</button>
</mat-dialog-actions>
