<mat-tab-group color="primary"
               backgroundColor="primary"
               (selectedTabChange)="handleTabClick($event)">
    <mat-tab *ngFor="let tabTitle of _tabsTitles"
              class="tabs"
              [label]="tabTitle">
        <ng-template matTabContent>
<!--            <mat-card *ngIf="_isLoaded; else loading">-->
            <mat-card>
                <mat-card-header>
                    <div class="example-button-row">
                        <button mat-raised-button color="primary">New</button>
                        <button mat-raised-button color="primary">Edit</button>
                        <button mat-raised-button color="primary">Delete</button>
                    </div>
                </mat-card-header>

                <mat-card-content>
                    <service-table *ngIf="dataType==='service'"></service-table>
                    <rate-table *ngIf="dataType==='rate'"></rate-table>
                    <traffic-table *ngIf="dataType==='traffic'"></traffic-table>
                    <consumption-table *ngIf="dataType==='consumption'"></consumption-table>
                    <customer-table *ngIf="dataType==='customer'"></customer-table>
<!--                    <mat-spinner class="spinner"></mat-spinner>-->
                </mat-card-content>
            </mat-card>
        </ng-template>
    </mat-tab>
</mat-tab-group>

<ng-template #loading>
    <mat-spinner class="spinner"></mat-spinner>
</ng-template>

<!--<div class="container"></div>-->
