<mat-card-header>
    <div class="example-button-row">
        <button mat-raised-button
                color="primary"
                (click)="openDialog('add')">New
        </button>
        <button mat-raised-button
                color="primary"
                [disabled]="_isDisabledEdit"
                (click)="openDialog('edit')">Edit
        </button>
        <button mat-raised-button
                color="primary"
                [disabled]="_isDisabledDelete"
                (click)="deleteCustomers()">Delete
        </button>
    </div>
</mat-card-header>

<mat-card-content>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput
               (keyup)="applyFilter($event)"
               placeholder="Ex. yyyy-MM-dd"
               #input>
    </mat-form-field>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel()">
                </mat-checkbox>
            </mat-header-cell>
            >
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row)">
                </mat-checkbox>
            </mat-cell>
            >
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No.</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.position}}</mat-cell>
        </ng-container>

        <!-- Customer Column -->
        <ng-container matColumnDef="clientName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Customer</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.clientName}}</mat-cell>
        </ng-container>

        <!-- Rate Column -->
        <ng-container matColumnDef="rateName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Rate</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.rateName}}</mat-cell>
        </ng-container>

        <!-- Connection Date Column -->
        <ng-container matColumnDef="connectionDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Connection Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.connectionDate | date: 'short'}}</mat-cell>
        </ng-container>

        <!-- Payment Date Column -->
        <ng-container matColumnDef="paymentDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Payment Date</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.paymentDate | date: 'short'}}</mat-cell>
        </ng-container>

        <!-- Discount Column -->
        <ng-container matColumnDef="discount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Discount</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.discount}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
</mat-card-content>
