<ng-template #serviceAdd>
    <mat-dialog-title>Create New Service</mat-dialog-title>
    <mat-dialog-content>
      <form>
        <div class="form-group">
          <label for="serviceName">Service Name</label>
          <div class="input-group">
            <input id="serviceName" class="form-control" placeholder="Skype" name="dp">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" type="button"></button>
            </div>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-button mat-dialog-close>Create</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #serviceCRUDForm>
  <form>
    <div class="form-group">
      <label for="serviceName">Service Name</label>
      <div class="input-group">
        <input id="serviceName" class="form-control" placeholder="Skype" name="dp">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" type="button"></button>
        </div>
      </div>
    </div>
  </form>
</ng-template>
