<h2 mat-dialog-title>{{title}}</h2>

<mat-dialog-content [formGroup]="form">

    <!--  Rate Name-->
    <mat-form-field>
        <input matInput placeholder="Rate Name" formControlName="rateName">
    </mat-form-field>

    <!--  Price-->
    <mat-form-field>
        <input matInput placeholder="Price" formControlName="price">
    </mat-form-field>

    <!--  Expiration Date-->
    <mat-form-field>
        <mat-label>Choose Expiration Date</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="expirationDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <p class="error-message" *ngIf="_showError">Data is not added!</p>
</mat-dialog-content>
<mat-dialog-actions>
    <button *ngIf="data.action === 'add'"
            mat-raised-button
            color="primary"
            (click)="save()">Create
    </button>
    <button *ngIf="data.action === 'edit'"
            mat-raised-button
            color="primary"
            (click)="update()">Update
    </button>
    <button mat-raised-button color="accent" (click)="close()">Cancel</button>
</mat-dialog-actions>
