/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.spinner {
    z-index: 10500;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 20%;
    /*height: 200px;*/
    min-height: 70%;
    background-color: #ffffff;
    position:relative;
    border: 2px solid #D4D4D4;
    border-radius: 50px;
    /*box-shadow: 0 0 15px #0099FF;*/
    box-shadow: 0 0 15px #A9A9A9;
    padding:20px 40px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.mat-tab-body {
    margin: 30px 30px;
    /*width: 85%;*/
    /*height: 200px;*/
    background-color: #ffffff;
    position:relative;
    border: 2px solid #D4D4D4;
    border-radius: 50px;
    box-shadow: 0 0 15px #A9A9A9; /* #0099FF; */
    /*padding:20px 40px;*/
}

.mat-card {
    padding: 16px 0 !important;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.mat-tab-group {
    margin-bottom: 48px;
    min-height: 80%;
}

.footer {
    margin-top: auto;
    justify-content: center;
    font-size: 16px;
    color: white;
    background-color: #3f51b5;
    position: relative; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    /*padding: 10px;*/
    width: 100%;
}

.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: white;
    font-weight: 500;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: orange;
    height: 5px;
}

.mat-tab-labels {
    display: flex;
    justify-content: center !important;
}

.mat-header-cell {
    font-size: 16px;
}

.mat-form-field {
    margin-left: 30px;
}

.error-message {
    margin-left: 30px !important;
    color: red;
}

.mat-dialog-actions {
    justify-content: center;
}
